.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Menu_Item a {
  align-items: center;
  color: black;
  text-decoration: underline;
  list-style-type: none;

  .ClassLogo {
    width: 100%;
  }

  .Logo {
    margin: 0 auto;
    background-position: center;
    display: block;
  }

  .Menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100%;
    justify-content: center;
    list-style-type: none;
  }
}
